
.contact{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact h2,h1{
    color: var(--dark);
    padding: 10px;
    text-align: center;
}
.contact p{
    margin-bottom: 20px;
    text-align: center;
    color: var(--ternary);
}
.contact span{
    color: var(--primary);
} 
.contact-items{
    display: flex;
    justify-content: space-evenly;
}
.contact-card{
    width: 30%;
    height: 30%;
}
.fa-phone-square, .fa-envelope, .fa-building  {
    margin-left: 150px;
    font-size: 130px;
    padding: 20px;
}
.contact-card h2{
    margin-top: 20px;
}
.contact-card p{
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .fa-phone-square, .fa-envelope, .fa-building{
        margin-left: 50px;
    }
}
