footer{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    width: 100%;
    height: 100%;
    padding: 100px;
}
footer p{
    color: var(--ternary);
    margin: 50px;
}
footer .fa:hover{
    background-color: var(--primary);
}